h1{
  font-size: 39px;
  color: red;
  font-style: italic;
}
div{
  border: 1px solid #333;
}
#left{
  width: 64%;
  height: auto;
  float: left;
}
#left2{
  width: 85%;
  height: auto;
  float: left;
}
#right{
  width: 36%;
  height: auto;
  float: right;
}
#top{
  width: auto;
  height: 200px;
  padding: 1%;
  display: flex;
}
#top2{
  width: auto;
  height: 400px;
  padding: 1%;
  display: flex;
}
#bottom{
  width: auto;
  height: auto;
  padding: 1%;
}
#bottom{
  width: auto;
  height: auto;
  padding: 1%;
}
.top-l{
  display: flex;
  height: 60%;
}

.face-photo{
  background-color: green;
  width: 13%;
  height: auto;
}
.student-info{
  background-color: red;
  width: 87%;
  height: auto;
}
.comment,.graph{
  width: auto;
  height: auto;
}
.test{
  background-color: blue;
  width: auto;
  height: auto;
  height: 39%
}
.test-detail{
  width: auto;
  height: 500px;
}
.video{
  width: auto;
  height: 59%;
  display: flex;
}
.test-info{
  width: auto;
  height: 27%;
}
.percent{
  width: auto;
  height: 13%;
}
.SA-video{
  width: 50%;
}
.A-video{
  width: 50%;
}
.feedback{
  width: auto;
  height: 130px;
}
