<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- BootstrapのCSS読み込み -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="js/bootstrap.min.js"></script>
<!-- アイコン変更文-->
<link rel=”apple-touch-icon” href=”./apple-touch-icon.png” sizes=”180×180″>
<link rel=”icon” type=”image/x-icon” href=”./favicon.ico”>
</head>
<body>
<div id="top">
<div id="left">
  <div class="top-l">
    <img class="face-photo"
    src="c0b35cfb12b87f55a20b44da3246025f.jpg"
    alt="生徒の顔写真"
    />
  <div class="student-info">

  </div>
  </div>
  <table border="1" cellspacing="0" cellpadding="0" class="test">
      <tr height="20%">
        <th width="33%">受験が多い試験</th>
        <th width="33%">試験平均点</th>
        <th width="33%">試験回数</th>
      </tr>
      <tr>
        <b>
        <td>ブロンズ級テスト１</td>
        <td>84%</td>
        <td>21回</td>
        </b>
      </tr>
    </table>
</div>
<div id="right">
    <input type="text" name="free"
           style="width: 100%; height: 100%;"
           size="15" placeholder="自由欄＜コメント欄＞"/>
</div>
</div>
<div id="bottom">
  <div class="test-detail">

  </div>
</div>


</body>
</html>
