<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- BootstrapのCSS読み込み -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="js/bootstrap.min.js"></script>
<!-- アイコン変更文-->
<link rel=”apple-touch-icon” href=”./apple-touch-icon.png” sizes=”180×180″>
<link rel=”icon” type=”image/x-icon” href=”./favicon.ico”>
</head>
<body>
<h1>Scratch採点の部屋</h1>

<p><input type="button" value="録画開始" onclick=""/>
</p>
<p>

    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <button type="submit">アップロード</button>
    </form>

    <h2>アップロードされた画像:</h2>
    <ul>
        {% for filename in uploaded_files %}
        <li>
            {{ filename }}
            <a href="/delete/{{ filename }}">削除</a>
        </li>
        {% endfor %}
    </ul>


</body>
</html>
