<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- BootstrapのCSS読み込み -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="js/bootstrap.min.js"></script>
<!-- アイコン変更文-->
<link rel=”apple-touch-icon” href=”./apple-touch-icon.png” sizes=”180×180″>
<link rel=”icon” type=”image/x-icon” href=”./favicon.ico”>
</head>
<body class="body1">
<div id="top">
<div id="left">
  <div class="top-l">
    <img class="face-photo"
    src="static/image/facephotograph.jpg"
    alt="生徒の顔写真"
    />
  <div class="student-info">

  </div>
  </div>
  <table border="1" cellspacing="0" cellpadding="0" class="test">
      <tr height="20%">
        <th width="33%">受験が多い試験</th>
        <th width="33%">試験平均点</th>
        <th width="33%">試験回数</th>
      </tr>
      <tr>
        <b>
        <td>ブロンズ級テスト１</td>
        <td>84%</td>
        <td>21回</td>
        </b>
      </tr>
    </table>
</div>
<div id="right">
  <div class = "qa">
        <form method="POST" action="/submit_response">
            <label for="name">名前:</label>
            <input type="text" name="name" required><br>
            <label for="answer">回答:</label>
            <textarea name="comment_content" rows="8" cols="65"></textarea><br>

            <input class="submit" type="submit" value="送信">
        </form>
        <ul>
            {% for response in responses %}
                <li><strong>{{ response[1] }}:</strong> {{ response[2] }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
<div id="bottom">
  <div class="test-detail">

  </div>
</div>


</body>
</html>
